header {
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0px;
}

.site-header {
  background-color: transparent;
  transition: background-color 0.5s ease;

  @media only screen and (max-width: 768px) {
    background-color: #fff;
  }
}

.scroll {
  background-color: #293352 !important;
}

#gh-main {
  transition: padding 0.3s, height 0.3s;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  transition-property: padding, height;

  height: 80px;
  width: 100%;
  justify-content: space-between;
}

#gh-branding {
  flex-shrink: 0;
  -ms-flex-positive: 1;
  // margin-right: 64px;
  text-decoration: none;
}

#gh-branding .gh-logo {
  transition: height 0.3s, width 0.3s;
}

.gh-branding-name {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  @media only screen and (max-width: 768px) {
    color: var(--main-color);
  }
}

// menu

.subnav {
  display: none;
  background-color: #fff;
  z-index: 10000;
  border-radius: 6px;
}

.gh-menu-and-language .nav {
  display: flex;
}

// .nav > li {
// margin-left: 32px;

// }

.nav > li > a {
  margin: 0px 14px;
  font-size: 14px;
  line-height: 75px;
  color: #fff;
  @media only screen and (max-width: 768px) {
    color: var(--main-color);
  }
}
.nav > li:hover {
  border-top: 3px solid transparent;
  border-bottom: 3px solid var(--color-main);
  cursor: pointer;
}

.nav > li:hover > a {
  color: var(--color-main);
}

.nav > li {
  position: relative;
}

.nav > li > .subnav {
  position: absolute;
  width: 250px;
  font-size: 13px;
  top: 75px;
}

.subnav > .subnav--name {
  margin: 20px 16px;
}

.nav li:hover .subnav {
  display: block;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.08);
}

.subnav > .subnav--item {
  // margin: 20px 16px;
  width: 100%;
  padding: 20px 16px;
}

.subnav > .subnav--item:hover {
  transition: 100ms;
  color: var(--color-main) !important;
}

.gs-container {
  .title-introdution {
    width: 100%;
    h3 {
      // background-color: #293352;
      color: #fff;
    }
  }
}

// responsive positioning
.gh-desktop {
  @media only screen and (max-width: 1080px) {
    display: none;
  }
}
